* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #3CDBC0;
    color: #4a4a4a;
    font-family:  'Rubik', sans-serif;
    font-size: 16px;
    }
header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.logo-header {
    margin-top: 10px;
    width: 155;
    height: 61;
}
.menu {
    display:flex;
}
.menu-list {
    list-style: none;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.menu-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px, 5px, 13px, 5px;
}
.main-web {
    height: 100vh;
    background-color: #3CDBC0;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    color:#FFFFFF;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.main-text {
    text-align: center;
}

@media all and (min-width:768px) {

}