body {
    background-color: #3CDBC0;
    }
.header {
    width: 100%;
    position: fixed;
    align-content: center;
    top: 0px;
    left:0px;
    display: flex;
    flex-flow: column;
    background-color: white;

}
.logo-header {
    width: 100%;
    margin-top: 10px;
}
.menu{

    display:flex;
    orientation: row;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 13px;
    color: #4a4a4a;
    font-family:  'Rubik', sans-serif;
    font-size: 16px;
}
.main-web {
    background-color: #3CDBC0;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}